:root {
  --COMMON_BLACK_10P: #0000001a;
  --COMMON_HIGHLIGHT_CONTRAST: #001041;
  --COMMON_HIGHLIGHT_VALUE_MAIN: #1AFFFF;
  --COMMON_HIGHLIGHT_VALUE_MAIN_12P: #1AFFFF1F;
  --COMMON_HIGHLIGHT_VALUE_MAIN_30P: #1AFFFF4D;
  --COMMON_HIGHLIGHT_VALUE_MAIN_4P: #1AFFFF0A;
  --COMMON_HIGHLIGHT_VALUE_MAIN_50P: #1AFFFF80;
  --COMMON_HIGHLIGHT_VALUE_MAIN_8P: #1AFFFF14;
  --COMMON_NOTIFICATION_MAIN: #FF0041;
  --COMMON_VALUE_4P: #FFC4000A;
  --COMMON_VALUE_8P: #FFC40014;
  --COMMON_VALUE_12P: #FFC4001F;
  --COMMON_VALUE_30P: #FFC4004D;
  --COMMON_VALUE_40P: #FFC40066;
  --COMMON_VALUE_50P: #FFC40080;
  --COMMON_VALUE_CONTRAST: #001041;
  --COMMON_VALUE_MAIN: #FFC400;
  --COMMON_WHITE_100P: #FFFFFF;
  --COMMON_WHITE_30P: #FFFFFF4D;
  --COMMON_WHITE_60P: #FFFFFF99;
  --COMMON_WHITE_80P: #FFFFFFCC;
  --COMMON_WHITE_8P: #FFFFFF14;
  --GREY_100: #F5F5F5;
  --GREY_200: #EEEEEE;
  --GREY_300: #E0E0E0;
  --GREY_400: #BDBDBD;
  --GREY_500: #9E9E9E;
  --GREY_600: #757575;
  --GREY_700: #616161;
  --GREY_800: #424242;
  --GREY_900: #212121;
  --GREY_50: #FAFAFA;
  --GREY_A100: #D5D5D5;
  --GREY_A200: #AAAAAA;
  --GREY_A400: #616161;
  --GREY_A700: #303030;
  --LIGHT_ACTION_ACTIVE_54P: #0010418A;
  --LIGHT_ACTION_DISABLED_26P: #00104142;
  --LIGHT_ACTION_DISABLED_BACKGROUND_12P: #0010411F;
  --LIGHT_ACTION_FOCUS_12P: #255DBD1F;
  --LIGHT_ACTION_HOVER_4P: #255DBD0A;
  --LIGHT_ACTION_SELECTED_8P: #255DBD14;
  --LIGHT_ACTION_SHADES_30P: #0010414D;
  --LIGHT_BACKGROUND_12P: #E5ECF7;
  --LIGHT_BACKGROUND_4P: #F6F9FC;
  --LIGHT_BACKGROUND_8P: #EEF2FA;
  --LIGHT_BACKGROUND_BACKDROP: #001041;
  --LIGHT_BACKGROUND_BACKDROP_80: #001041CC;
  --LIGHT_BACKGROUND_DEFAULT: #F6F9FC;
  --LIGHT_BACKGROUND_PAPER: #FFFFFF;
  --LIGHT_BACKGROUND_SKELETON: #DEE6F5;
  --LIGHT_ERROR_CONTRAST: #FFFFFF;
  --LIGHT_ERROR_DARK: #C62828;
  --LIGHT_ERROR_LIGHT: #EF5350;
  --LIGHT_ERROR_MAIN: #D32F2F;
  --LIGHT_ERROR_SHADES_12P: #D32F2F1F;
  --LIGHT_ERROR_SHADES_160P: #541313;
  --LIGHT_ERROR_SHADES_190P: #FBEAEA;
  --LIGHT_ERROR_SHADES_30P: #D32F2F4D;
  --LIGHT_ERROR_SHADES_4P: #D32F2F0A;
  --LIGHT_ERROR_SHADES_50P: #D32F2F80;
  --LIGHT_HYBRID_TEXT_12P: #E3F1FD1F;
  --LIGHT_HYBRID_TEXT_16P: #E3F1FD29;
  --LIGHT_HYBRID_TEXT_30P: #E3F1FD4D;
  --LIGHT_HYBRID_TEXT_4P: #E3F1FD0A;
  --LIGHT_HYBRID_TEXT_50P: #E3F1FD80;
  --LIGHT_HYBRID_TEXT_60P: #E3F1FD99;
  --LIGHT_HYBRID_TEXT_8P: #E3F1FD14;
  --LIGHT_HYBRID_TEXT_DISABLED: #E3F1FD80;
  --LIGHT_HYBRID_TEXT_PRIMARY: #E3F1FD;
  --LIGHT_HYBRID_TEXT_SECONDARY: #E3F1FDB3;
  --LIGHT_INFO_CONTRAST: #FFFFFF;
  --LIGHT_INFO_DARK: #01579B;
  --LIGHT_INFO_LIGHT: #03A9F4;
  --LIGHT_INFO_MAIN: #0288D1;
  --LIGHT_INFO_SHADES_12P: #0288D11F;
  --LIGHT_INFO_SHADES_160P: #013654;
  --LIGHT_INFO_SHADES_190P: #E6F3FA;
  --LIGHT_INFO_SHADES_30P: #0288D14D;
  --LIGHT_INFO_SHADES_4P: #0288D10A;
  --LIGHT_INFO_SHADES_50P: #0288D180;
  --LIGHT_ODDS_ACTIVE: #E3F1FD;
  --LIGHT_ODDS_DISABLED: #0010411F;
  --LIGHT_ODDS_HOVER: #CFE7FC;
  --LIGHT_ODDS_SELECTED: #001041;
  --LIGHT_ODDS_SELECTED_HOVER: #192754;
  --LIGHT_OTHER_BACKDROP_OVERLAY: #001041CC;
  --LIGHT_OTHER_DIVIDER: #255DBD1F;
  --LIGHT_OTHER_FILLED_INPUT_BACKGROUND: #255DBD0F;
  --LIGHT_OTHER_OUTLINED_BORDER_23P: #255DBD3B;
  --LIGHT_OTHER_RATING_ACTIVE: #FFB400;
  --LIGHT_OTHER_RATING_LIGHT: #FFC400;
  --LIGHT_OTHER_SNACKBAR: #323232;
  --LIGHT_OTHER_STANDARD_INPUT_LINE: #255DBD6B;
  --LIGHT_PRIMARY_CONTRAST_TEXT: #FFFFFF;
  --LIGHT_PRIMARY_DARK: #000B2D;
  --LIGHT_PRIMARY_LIGHT: #333F67;
  --LIGHT_PRIMARY_MAIN: #001041;
  --LIGHT_PRIMARY_SHADES_100: #B9BFD4;
  --LIGHT_PRIMARY_SHADES_12P: #0010411F;
  --LIGHT_PRIMARY_SHADES_200: #8D96B6;
  --LIGHT_PRIMARY_SHADES_300: #626E9A;
  --LIGHT_PRIMARY_SHADES_30P: #0010414D;
  --LIGHT_PRIMARY_SHADES_400: #435287;
  --LIGHT_PRIMARY_SHADES_40P: #00104166;
  --LIGHT_PRIMARY_SHADES_4P: #0010410A;
  --LIGHT_PRIMARY_SHADES_50: #E3E5ED;
  --LIGHT_PRIMARY_SHADES_500: #213775;
  --LIGHT_PRIMARY_SHADES_50P: #00104180;
  --LIGHT_PRIMARY_SHADES_600: #1B306D;
  --LIGHT_PRIMARY_SHADES_60P: #00104199;
  --LIGHT_PRIMARY_SHADES_700: #132863;
  --LIGHT_PRIMARY_SHADES_800: #0A1F57;
  --LIGHT_PRIMARY_SHADES_8P: #00104114;
  --LIGHT_PRIMARY_SHADES_80P: #001041CC;
  --LIGHT_PRIMARY_SHADES_900: #001041;
  --LIGHT_SECONDARY_CONTRAST_TEXT: #FFFFFF;
  --LIGHT_SECONDARY_DARK: #194184;
  --LIGHT_SECONDARY_LIGHT: #507DCA;
  --LIGHT_SECONDARY_MAIN: #255DBD;
  --LIGHT_SECONDARY_SHADES_12P: #255DBD1F;
  --LIGHT_SECONDARY_SHADES_30P: #255DBD4D;
  --LIGHT_SECONDARY_SHADES_4P: #255DBD0A;
  --LIGHT_SECONDARY_SHades_50P: #255DBD80;
  --LIGHT_SECONDARY_SHADES_8P: #255DBD14;
  --LIGHT_SUCCESS_CONTRAST: #FFFFFF;
  --LIGHT_SUCCESS_DARK: #357A38;
  --LIGHT_SUCCESS_LIGHT: #6FBF73;
  --LIGHT_SUCCESS_MAIN: #4CAF50;
  --LIGHT_SUCCESS_SHADES_12P: #4CAF501F;
  --LIGHT_SUCCESS_SHADES_160P: #123214;
  --LIGHT_SUCCESS_SHADES_190P: #EAF2EA;
  --LIGHT_SUCCESS_SHADES_30P: #4CAF504D;
  --LIGHT_SUCCESS_SHADES_4P: #4CAF500A;
  --LIGHT_SUCCESS_SHADES_50P: #4CAF5080;
  --LIGHT_TEXT_DISABLED: #000C2D61;
  --LIGHT_TEXT_PRIMARY: #000C2DDE;
  --LIGHT_TEXT_PRIMARY_SHADES_12P: #000C2D1F;
  --LIGHT_TEXT_PRIMARY_SHADES_30P: #000C2D4D;
  --LIGHT_TEXT_PRIMARY_SHADES_4P: #000C2D0A;
  --LIGHT_TEXT_PRIMARY_SHADES_60P: #000C2D99;
  --LIGHT_TEXT_SECONDARY: #000C2D99;
  --LIGHT_WARNING_CONTRAST: #FFFFFF;
  --LIGHT_WARNING_DARK: #E65100;
  --LIGHT_WARNING_LIGHT: #FF9800;
  --LIGHT_WARNING_MAIN: #ED6C02;
  --LIGHT_WARNING_SHADES_12P: #ED6C021F;
  --LIGHT_WARNING_SHADES_160P: #5F2B01;
  --LIGHT_WARNING_SHADES_190P: #FDF0E6;
  --LIGHT_WARNING_SHADES_30P: #ED6C024D;
  --LIGHT_WARNING_SHADES_4P: #ED6C020A;
  --LIGHT_WARNING_SHADES_50P: #ED6C0280;
}

@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
